pandas
numpy
Pillow
PyYAML
psycopg2-binary
pgvector
google-api-python-client
google-auth
wildlife-datasets
wildlife-tools @ git+https://github.com/WildlifeDatasets/wildlife-tools
torch
torchvision
timm
ultralytics
